{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="ui grid">
            <div class="row">
                <div class="twelve wide column">
                    <div class="ui segment">
                    <h2 style="color: #0E566C;  ">Frequently Asked Questions (FAQ)</h2><br>
                    <div class="row">
                        <h4 class="ui header">1. How to post an ad ?</h4>
                        <p>First log into your Kuliyata.lk account. If you don't have an account please create one for free.</p>
                        <p>Click on "Post Your Ad" button in nav bar. </p>
                        <p>Fill up the relevant information in given form and press "Submit" button.</p>
                        <p>Yeeeh! That's it. Your ad is now online :).</p>

                    </div>
                    <hr>
                    <div class="row">
                        <h4 class="ui header">2. How to be safe on Kuliyata.lk ?</h4>
                        <p>Please make sure not to share any sensitive data (which is worth to you) through this web site (eg:- Bank account numbers, Passwords, etc). Kuliyata.lk does not take any responsibility on what you share.</p>
                    </div>
                    <hr>
                    <div class="row">
                        <h4 class="ui header">3. How to create an account ?</h4>
                        <p>Go to the registration page.</p>
                        <p>Fill all the fields of given form.</p>
                        <p>Now press "Register". Yeeeah! Congratulations now you have a kuliyata.lk account. Now you can post your new ads manage your ads in Kuliyata.lk </p>
                    </div>
                    <hr>
                    <div class="row">
                        <h4 class="ui header">4. How to edit my profile settings ?</h4>
                        <p>Login to your account</p>
                        <p>Click on your username on navbar. Then you will be directed to users page</p>
                        <p>Click on edit button and change anything you need</p>
                        <p>Click on save.</p>
                    </div>
                    </div>
                </div>
                <div class="four wide column center aligned">
                    <div class="ui piled segment">
                        <h2 style="color: #0E566C;  ">Contact Us</h2><br>
                        <div class="row">
                            <i class="circular phone big icon yellow "></i><br>
                            <p><span style="font-weight: bold">Telephone</span><br>
                                Hot Line: +94 77 660 8457<br>
                                Head office : +94 77 660 8457<br>
                        </div>
                        <br>
                        <div class="row">
                            <i class="circular envelope outline big icon yellow "></i><br>
                            <p><span style="font-weight: bold">Email</span><br>
                                kuliyata@gmail.com<br></p>
                        </div>
                        <br>
                        <div class="row">
                            <i class="circular map marker big icon yellow "></i><br>
                            <p><span style="font-weight: bold">Address</span> <br>
                                No 128, <br>
                                Pirivena Road,<br>
                                Boralesgamuwa.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
